html, body{
	margin: 0px;
	padding: 0px;
	font-size: 25px;
}

#screen{
	width: 100%;
	height: 100%;
	position: fixed;
}

#screen.night{
	background-color: #00004A;
}

#screen.day{
	background-color: #F0F49F;
}

#start-block{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -195px;
	margin-top: -45px;
}

#countdown-block{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -292px;
	margin-top: -15px;
}

#sb-button{
	text-align: center;
	background: #0BB857;
	height: 40px;
	padding-top: 20px;
	cursor: pointer;
}

.night{
	color: white !important;
}

#night-block, #day-block{
	display: none;
}

.night #night-block{
	display: block;
	position: absolute;
	top: 10%;
	left: 50%;
	font-size: 35px;
	margin-left: -220px;
}

.day #day-block{
	display: block;
	position: absolute;
	top: 10%;
	left: 50%;
	font-size: 35px;
	margin-left: -370px;
	text-align: center;
}

#db-note{
	font-size: 20px;
	font-weight: bold;
}